/* line 5, ../../../../../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/booklist.scss */
html {
  font-size: 100px;
}

/* line 11, ../sass/booklist.scss */
body {
  font-size: 0.14rem;
  background: #ededed;
}

/* line 15, ../sass/booklist.scss */
i {
  font-style: normal;
}

/* line 18, ../sass/booklist.scss */
.block {
  display: block;
}

/* line 21, ../sass/booklist.scss */
.inline-block {
  display: inline-block;
}

/* line 24, ../sass/booklist.scss */
.relative {
  position: relative;
}

/* line 27, ../sass/booklist.scss */
.absolute {
  position: absolute;
}

/* line 30, ../sass/booklist.scss */
.wrap {
  position: relative;
}

/* line 33, ../sass/booklist.scss */
.tool-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0.4rem;
  padding: 0.06rem 0.09rem;
  background: transparent;
  display: flex;
  display: -webkit-flex;
  z-index: 99;
}
/* line 44, ../sass/booklist.scss */
.tool-box .address-box {
  padding-right: 0.16rem;
  font-size: 0.14rem;
  color: #fff;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
/* line 51, ../sass/booklist.scss */
.tool-box .address-box .mui-icon {
  font-size: 0.12rem;
}
/* line 55, ../sass/booklist.scss */
.tool-box .search-box {
  flex: 1;
  -webkit-flex: 1;
  border-radius: 0.08rem;
  overflow: hidden;
  background: transparent;
}
/* line 61, ../sass/booklist.scss */
.tool-box .search-box .search-bg {
  background: #fff;
  opacity: 0.3;
  height: 100%;
}
/* line 66, ../sass/booklist.scss */
.tool-box .search-box .search-ct {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  display: flex;
  display: -webkit-flex;
  color: #fff;
}
/* line 75, ../sass/booklist.scss */
.tool-box .search-box .search-ct input {
  padding: 0;
  height: 100%;
  border: 0;
  background: transparent;
  margin: 0;
  padding-left: 0.14rem;
}
/* line 82, ../sass/booklist.scss */
.tool-box .search-box .search-ct input::-webkit-input-placeholder {
  color: #fff;
}
/* line 86, ../sass/booklist.scss */
.tool-box .search-box .search-ct .mui-icon {
  margin-right: 0.08rem;
}

/* line 93, ../sass/booklist.scss */
.header .banner-box {
  height: 1.4rem;
  background: #f94862;
}
/* line 96, ../sass/booklist.scss */
.header .banner-box img {
  width: 100%;
  height: 100%;
}

/* line 103, ../sass/booklist.scss */
.booklist-outer-box {
  background: #fff;
  margin-top: .1rem;
}
/* line 106, ../sass/booklist.scss */
.booklist-outer-box .title-box {
  display: flex;
  display: -webkit-flex;
  height: 0.38rem;
  padding: 0 0.08rem;
  background: #fff;
}
/* line 112, ../sass/booklist.scss */
.booklist-outer-box .title-box .title {
  display: flex;
  display: -webkit-flex;
  flex: 1;
  -webkit-flex: 1;
  align-items: center;
}
/* line 118, ../sass/booklist.scss */
.booklist-outer-box .title-box .title .text {
  font-size: 0.16rem;
}
/* line 122, ../sass/booklist.scss */
.booklist-outer-box .title-box .more-box {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  color: #666;
}
/* line 129, ../sass/booklist.scss */
.booklist-outer-box .booklist-inner-box {
  display: flex;
  display: -webkit-flex;
  margin: 0 0.1rem;
}
/* line 133, ../sass/booklist.scss */
.booklist-outer-box .booklist-inner-box .book-item {
  flex: 1;
  -webkit-flex: 1;
  max-width: 25%;
  margin-right: 0.1rem;
}
/* line 138, ../sass/booklist.scss */
.booklist-outer-box .booklist-inner-box .book-item:last-child {
  margin-right: 0;
}
/* line 141, ../sass/booklist.scss */
.booklist-outer-box .booklist-inner-box .book-item .book-img {
  width: 100%;
}
/* line 143, ../sass/booklist.scss */
.booklist-outer-box .booklist-inner-box .book-item .book-img img {
  width: 100%;
  height: auto;
  min-height: 1.05rem;
}
/* line 149, ../sass/booklist.scss */
.booklist-outer-box .booklist-inner-box .book-item .book-title {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.3;
  margin-bottom: .1rem;
}
