
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calender:before { content: "\e653"; }

.icon-clock:before { content: "\e68a"; }

.icon-ui03:before { content: "\e606"; }

.icon-video-xl:before { content: "\e600"; }

.icon-avspeaker:before { content: "\e60e"; }
