
/*.icon_lists .icon{
  font-size: 42px;
  line-height: 100px;
  margin: 10px 0;
  color: #bd2c00;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
}*/

.after:after {
  display: block;
  content: '';
  clear: both;
}
.before:before {
  display: block;
  content: '';
  clear: both;
}
.veryCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.verticalCenter {
  position: absolute;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.horizontalCenter {
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.full {
  display: block;
  width: 100%;
  height: 100%;
}
body {
  color: #555;
  /*background-color: #eee;*/
  background-color: #ffffff;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont;
  font-weight: 300;
}
[v-cloak] {
  display: none;
}
.mui-badge-cart {
  position: relative;
  /* left: 28px; */
  top: 3px;
}
.mui-pull-bottom-wrapper {
  text-align: center;
}
.blueColor {
  color: #3278C8 !important;
}
.linkColor {
  color: #3278C8 !important;
}
.redColor {
  color: #fe3824 !important;
}
.greyColor {
  color: #c8c7cc !important;
}
.textColor {
  color: #999 !important;
}
.greenColor {
  color: #1cc100 !important;
}
.yellowColor {
  color: #ffce00 !important;
}
.greenBg {
  color: #fff;
  border: 1px solid #1cc100;
  background-color: #1cc100;
}
.full {
  display: block;
  width: 100%;
  height: 100%;
}
.full:after {
  display: block;
  content: '';
  clear: both;
}
.textbook_cover {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 140%;
  margin-bottom: 10px;
  background: #fafafa;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1), 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.textbook_cover > img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.imageIcon {
  display: inline-block;
  vertical-align: middle;
}
.verticalSplitLine {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 1px;
  height: 80%;
}
.innerCenter > img {
  display: block;
  margin: 0 auto;
}
.innerCenter > div {
  margin: 0 auto;
  text-align: center;
}
.userRulesPopover {
  width: 85%;
  background-color: #fff;
  border-radius: 15px;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
  transform: translate3d(-50%, -50%, 0) scale(1);
}
.userRulesPopover .inner {
  padding: 0 20px;
}
.userRulesPopover .inner > h1 {
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.userRulesPopover .inner > div {
  border-top: 1px solid #e5e5e5;
  text-align: left;
  padding: 16px 0;
}
.userRulesPopover .inner > div > h4 {
  font-size: 15px;
  color: #666;
  text-align: left;
}
.userRulesPopover .inner > div > p {
  margin-bottom: 20px;
}
.userRulesPopover .inner > div > p:last-child {
  margin-bottom: 0;
}
.fixedCartButton {
  position: fixed;
  bottom: 65px;
  right: 20px;
  z-index: 9;
}
.fixedCartButton > img {
  display: block;
  width: 45px;
  height: 45px;
}

.fixedClearHisstoryButton {
  position:fixed;
  bottom: 65px;
  right: 20px;
  z-index: 9;
}
.fixedClearHisstoryButton > img {
  display: block;
  width: 45px;
  height: 45px;
}



.smallCartIcon {
  position: absolute;
  width: 22px;
  height: 22px;
  bottom: 10px;
  right: 5px;
  padding: 5px;
  box-sizing: content-box;
}
.smallHopeIcon {
  position: absolute;
  width: 22px;
  height: 22px;
  bottom: 1px;
  right: 5px;
  padding: 5px;
  box-sizing: content-box;
}
.pay {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  border-top: 1px solid #ebebeb;
  background-color: #fff;
  padding-right: 120px;
  line-height: 50px;
}
.pay .sure {
  width: 120px;
  min-height: 100%;
  text-align: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: -1px;
  border-radius: 0;
  font-size: 16px;
}
.mui-table-view-cell > .mui-slider-handle.mui-navigate-right:after,
.mui-table-view-cell > .mui-slider-handle .mui-navigate-right:after {
  right: 15px;
}
.timelineBox {
  padding: 21px;
}
.timelineBox .innerBox .line {
  position: relative;
  padding: 0px 10px 15px 20px;
  line-height: 1;
  color: #999;
  font-size: 16px;
}
.timelineBox .innerBox .line:after {
  position: absolute;
  left: -6px;
  top: 1px;
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  background-color: #999;
  border-radius: 50%;
}
.timelineBox .innerBox .line:before {
  position: absolute;
  left: -1px;
  top: 2px;
  content: '';
  display: block;
  height: 100%;
  width: 1px;
  background-color: #999;
}
.timelineBox .innerBox .line.been:after {
  background-color: #016df1;
}
.timelineBox .innerBox .line:last-child:before {
  display: none;
}
.coupon {
  position: relative;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 0px rgba(222, 222, 222, 1);
  margin-bottom: 14px;
}
.coupon:before {
  content: ' ';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #eee;
  position: absolute;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  left: -5px;
  z-index: 1;
}
.coupon:after {
  content: ' ';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #eee;
  position: absolute;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  right: -5px;
  z-index: 1;
}
.coupon .couponBody {
  padding: 15px 21px;
}
.coupon .couponBody > img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
}
.coupon .couponBody:after {
  display: block;
  content: '';
  clear: both;
}
.coupon .couponFoot {
  background-color: #fff;
  padding: 6px 23px;
}
.couponDetail:before,
.couponDetail:after {
  display: none;
}
.couponDetail .topPart {
  position: relative;
  border-bottom: 1px dashed #c8c7cc;
  padding: 25px 0;
}
.couponDetail .topPart .beforeFakeClass {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -5px;
  left: -5px;
  z-index: 1;
}
.couponDetail .topPart .afterFakeClass {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -5px;
  right: -5px;
  z-index: 1;
}
.couponDetail .topPart table {
  margin: 20px 15px 0;
  font-size: 12px;
}
.couponDetail .topPart table th {
  width: 65px;
  text-align: right;
  vertical-align: top;
  font-weight: normal;
}
.couponDetail .topPart table td {
  color: #c8c7cc;
}
.couponDetail .bottomPart {
  padding: 20px 0 0;
}
.ys-mui-search .rightSearchIcon {
  display: none;
}
.ys-mui-search.mui-active:before {
  display: none;
}
.ys-mui-search.mui-active .rightSearchIcon {
  display: block;
  position: absolute;
  top: 6px;
  right: auto;
  left: 5px;
  margin-right: 0px;
  font-size: 0;
  line-height: 1;
}
.ys-mui-search.mui-active .rightSearchIcon .mui-icon {
  font-size: 20px;
}
.fakeHeader{
  width: 100%;
  height: 60px;
  border-bottom:1px solid #D8D8D8;
  text-align: center;
  line-height: 60px;
  color: #333;
  background: #fff;
  margin-top:10px;

/*# sourceMappingURL=public.css.map */