<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">    
    <link rel="stylesheet" href="../css/mui/mui.css">
    <link rel="stylesheet" href="../css/mui/iconfont.css">
    <link rel="stylesheet" href="../css/mui/icons-extra.css" />
    <link rel="stylesheet" href="../css/zui.css">
    <style>
        .mui-content > .zui-full-card:first-child {
            margin: 0px;
        }
    </style>
</head>
<body>

<!-- header Start -->
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">选择时间</h1>
    <a class="mui-pull-right"></a>
</header>
<!-- header End -->

<!-- content Start -->
<div class="mui-content">
    <div class="mui-card zui-full-card">
        <div class="mui-card-header">
            <ui class="mui-table-view">
                <li class="mui-table-view">
                    <div class="mui-slider-cell">
                        <div class="mui-slider-cell">
                            <div class="oa-contact-cell mui-table">
                                <div class="mui-table-cell zui-contact-avatar" style="width: 75px">
                                    <img src="../image/shuijiao.jpg" />
                                </div>
                                <div class="mui-table-cell">
                                    <div class="mui-clearfix">
                                        <h4 class="oa-contact-name">Nasis</h4>
                                        <!--<span class="oa-contact-position mui-h6">董事长</span>-->
                                    </div>
                                    <p class="mui-h6">评分 100</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="mui-table">
                        <div class="mui-table-cell">
                            <p><strong>教学经验：</strong>1年</p>
                        </div>
                        <div class="mui-table-cell">
                            <p><strong>适合学员：</strong>初级学员</p>
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="mui-table">
                        <div class="mui-table-cell">
                            <p><strong>大学专业：</strong>教育学</p>
                        </div>
                        <div class="mui-table-cell">
                            <p><strong>工作行业：</strong>教育/培训</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="mui-table">
                        <div class="mui-table-cell">
                            <p><strong>擅长自我介绍：</strong>生活Freetalk经典英语成人版</p>
                        </div>
                    </div>
                </li>
            </ui>
        </div>
        <style>
            .zui-according-extend {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 0;
                -webkit-box-orient: vertical;
            }
            .zui-according-shrink {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .zui-card-arrow {

            }
        </style>
        <div class="mui-card-content" style="padding: 10px 15px;">
            <div class="mui-table">
                <div class="mui-table-cell" style="width: 80%;overflow:hidden;text-overflow:ellipsis;">
                    <p class="zui-according-shrink" id="accordingCard">
                        <strong>外教自我介绍: </strong>动机客户赶快交电话费开发将对方很高科技的化工科技和登记客户对方更好看的恢复规划的国际化考核得分科技化工等客观和登记和高科技好读后感京东框架读后感动机客户赶快交电话费开发将对方很高科技的化工科技和登记客户对方更好看的恢复规划的国际化考核得分科技化工等客观和登记和高科技好读后感京东框架读后感动机客户赶快交电话费开发将对方很高科技的化工科技和登记客户对方更好看的恢复规划的国际化考核得分科技化工等客观和登记和高科技好读后感京东框架读后感动机客户赶快交电话费开发将对方很高科技的化工科技和登记客户对方更好看的恢复规划的国际化考核得分科技化工等客观和登记和高科技好读后感京东框架读后感
                    </p>
                </div>
                <div class="mui-table-cell" style="vertical-align: middle;">
                    <a href="#" style="padding-left: 10px">
                        <span class="mui-icon iconfont icon-avspeaker zui-icon-video"
                            style="font-size: 35px;vertical-align: middle;color: #F38524;"
                        ></span>
                    </a>
                </div>
            </div>
            <div
                style="text-align: center"
            >
                <a href="#" id="arrow">
                    <span class="mui-icon mui-icon-arrowdown"></span>
                </a>
            </div>
        </div>
    </div>

    <style>
        .zui-time-wrap {
            width: auto;
            overflow: auto;
            background-color: #FFF;
            margin-top: 20px;
        }
        .zui-time-item {
            display: table-cell;
            width: 70px;
        }
        .zui-time-title {
            height: 50px;
            width: 70px;
            background-color: #F8F8F8;
            text-align: center;
            vertical-align: middle;
            display: inherit;
        }
        .zui-time-title .zui-time-date {

        }
        .zui-time-title .zui-time-week {
            font-size: 14px;
            color: #8f8f94;
        }
        .zui-time-content{
            font-size: 10px;
            text-align: center;
            width: 70px;
            padding: 5px 0px;
        }
        .zui-time-content > .zui-time-point {
            padding: 5px;
        }
        .zui-time-point.selected {
            border-style: solid;
            border-radius: 4px;
            border-color: #FD8426;
            border-width: 1px;
        }
        .zui-time-point.uenabled {
            color: red;
        }
    </style>
    <div class="zui-time-wrap" style="padding-bottom: 50px;">
        <div class="zui-time-item">
            <div class="zui-time-title">
                <div class="zui-time-date">24</div>
                <div class="zui-time-week">周六</div>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
        </div>
        <div class="zui-time-item">
            <div class="zui-time-title">
                <div class="zui-time-date">24</div>
                <div class="zui-time-week">周六</div>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
        </div>
        <div class="zui-time-item">
            <div class="zui-time-title">
                <div class="zui-time-date">24</div>
                <div class="zui-time-week">周六</div>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
        </div>
        <div class="zui-time-item">
            <div class="zui-time-title">
                <div class="zui-time-date">24</div>
                <div class="zui-time-week">周六</div>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
        </div>
        <div class="zui-time-item">
            <div class="zui-time-title">
                <div class="zui-time-date">24</div>
                <div class="zui-time-week">周六</div>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
        </div>
        <div class="zui-time-item">
            <div class="zui-time-title">
                <div class="zui-time-date">24</div>
                <div class="zui-time-week">周六</div>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
        </div>
        <div class="zui-time-item">
            <div class="zui-time-title">
                <div class="zui-time-date">24</div>
                <div class="zui-time-week">周六</div>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
        </div>
        <div class="zui-time-item">
            <div class="zui-time-title">
                <div class="zui-time-date">24</div>
                <div class="zui-time-week">周六</div>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
        </div>
        <div class="zui-time-item">
            <div class="zui-time-title">
                <div class="zui-time-date">24</div>
                <div class="zui-time-week">周六</div>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
        </div>
        <div class="zui-time-item">
            <div class="zui-time-title">
                <div class="zui-time-date">24</div>
                <div class="zui-time-week">周六</div>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
            <div class="zui-time-content">
                <span class="zui-time-point">12:00</span>
            </div>
        </div>
    </div>

    <style>
        .zui-yueke-nav {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 50px;
            background-color: red;
            width: 100%;
        }
    </style>
    <div class="zui-yueke-nav">
        <div class="mui-table" style="height: 100%">
            <div class="mui-table-cell"
                style="background-color: #454545;text-align: center;vertical-align: middle;color: #FFF;font-size: 15px"
            >
                <span>你已经选择0节课</span>
            </div>
            <div class="mui-table-cell" style="width: 150px;">
                <input type="button" value="预约课程"
                    style="width: 150px;border-style: none;border-radius: 0px;height: 50px;background-color: #FA8124;color: #FFF;font-size:15px"
                />
            </div>
        </div>
    </div>
</div>
<!-- content End -->

<script src="../js/mui.js"></script>
<script src="../js/mui.view.js "></script>
<script>
    mui.init();
    (function ($) {

        document.querySelector('#arrow').addEventListener('tap',function (e) {

            var classList = document.getElementById("accordingCard").classList;
            var arrowClassList = $(this)[0].querySelector('span').classList;

//            console.log($(this)[0].querySelector('span'));

            if(classList.contains('zui-according-extend')) {
                document.getElementById("accordingCard").classList.remove('zui-according-extend');
                document.getElementById("accordingCard").classList.add('zui-according-shrink');
                arrowClassList.remove('mui-icon-arrowup');
                arrowClassList.add('mui-icon-arrowdown');
            }else {
                document.getElementById("accordingCard").classList.remove('zui-according-shrink');
                document.getElementById("accordingCard").classList.add('zui-according-extend');
                arrowClassList.remove('mui-icon-arrowdown');
                arrowClassList.add('mui-icon-arrowup');
            }

        });

        $('.zui-time-wrap').on('tap', '.zui-time-point', function() {

            var classList = $(this)[0].classList;

            if(classList.contains('uenabled')) {
                alert('时间已经被选完了');
            }else {

                if(classList.contains('selected')) {
                    $(this)[0].classList.remove('selected');
                }else {
                    $(this)[0].classList.add('selected');
                }
            }
        });
    })(mui);
</script>
</body>
</html>
