input,
button,
select,
textarea {
	outline: none;
}

body {
	margin: 0;
	background: #F6F6FA;
}
input,
button,
select,
textarea {
	outline: none;
}

body {
	margin: 0;
	background: #F6F6FA;
}

input {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.headertit{
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #FFFFFF;
	z-index: 999;
}
.headertit .headleft{
	width: 15%;
    height: 45px;
    float: left;
    padding-left: 5%;
    padding-top: 5px;
}
.headertit .headleft img{
	 width: 12px;
	 height: 20px;
}	
	
.headertit .headcenter{
	width: 60%;
	height: 50px;
	text-align: center;
	float: left;
	font-size: 17px;
	color: #424242;
}
.allmess{
	position: relative;
	width: 100%;
	margin-top: 60px;
	overflow: hidden;
}	
.headzinde{
	width: calc(100% - 32px);
	padding: 10px 16px 17px 16px;
	background: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
}
.headzinde .headtitle {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.headzinde .headtitle .qtstitle{
	width: 70%;
	font-size: 18px;
	color: #333333;
	float: left;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.headzinde .headtitle .qtsalayt{
	width: 30%;
	font-size: 15px;
	color: #FD5A5A;
	float: right;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: right;
}

.headzinde .qtsbones{
	width: 100%;
	padding-top: 11px;
}
.headzinde .qtsbones .morebons{
	background: #F9F9F9;
	border: 1px solid #F5F5F5;
	border-radius: 4px;
	font-size: 10px;
	color: #666666;
	border: none;
	padding: 5px;
}

.headzinde .qtslabel{
	width: 100%;
	margin-top: 10px;
	font-size: 12px;
	color: #666666;
}

.part_infos {
	width: 100%;
	background: #FFFFFF;
}

.part_infos .infos_list {
	width: calc(100% - 16px);
	margin: 0 0 0 16px;
	overflow: hidden;
	border-bottom: 1px solid #E4E4E4;
	padding: 12.5px 0 12.5px 0;
}

.part_infos .infos_list .infos_logos {
	width: 34px;
	float: left;
}

.part_infos .infos_list .infos_logos .infos_imgs {
	width: 18px;
}

.part_infos .infos_list .infos_cons {
	width: 82%;
	float: left;
	word-break: break-all;
}

.part_infos .infos_list .infos_cons .infos_titles {
	font-size: 12px;
	margin-top: 12px;
	color: #999999;
}

.part_infos .infos_list .infos_cons .infos_texts {
	width: 100%;
	font-size: 14px;
}

.part_infos .infos_list .infos_cons .infos_texts .address_one {
	width: 76%;
	font-size: 15px;
	color: #424242;
	float: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.part_infos .infos_list .infos_cons .infos_texts .kilometers{
	width: 24%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	float: right;
	text-align: right;
}

.part_infos .infos_list .infos_cons .infos_texts .address_two {
	font-size: 15px;
	color: #424242;
	float: left;
	
}

.part_infos .infos_list .infos_right {
	width: 20px;
	float: right;
}

.part_infos .infos_list .infos_right .arrow_right {
	width: 14px;
	margin-top: 4px;
}

.part_infos .infos_list .infos_cons .infos_texts ul {
	width: 86%;
	margin: -18px 0 0 40px;
	padding: 0 0 10px 0;
	float: left;
	overflow: hidden;
	word-wrap: break-word; 
	word-break: normal; 
	text-overflow: ellipsis;
}

.part_infos .infos_list .infos_cons .infos_texts ul li {
	float: left;
	font-size: 15px;
	color: #999999;
	margin-left: 3px;
	margin-top: -3px;
}
.busimess{
	position: relative;
	overflow: hidden;
	width: 100%;
	
}
.company {
	width: 100%;
	margin-top: 10px;
	background: #FFFFFF;
}
.company .companynei{
	width: calc(100% - 16px);
	margin-left: 16px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	border-bottom: 1px solid #EEEEEE;
}
.company .companyths {
	width: 100%;
	padding: 15px 16px 15px 16px;
	position: relative;
    overflow: hidden;
    background: url(../source_7niu//20160826arrowright.png) no-repeat 88% 49%;
    background-size: 14px 14px;
}
.company .companyths .companylogo{
	width: 11%;
	height: 53px;
	float: left;
}
.company .companyths .companylogo img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
.company .companyths .companyname {
	max-width: 80%;
    float: left;
    margin-left: 15px;
    
}
.company .companyths .companyname .companytitle{
	width: 100%;
	float: left;
}
.company .companyths .companyname .companytitle .partitles{
	max-width: 70%;
	font-size: 16px;
	color: #333333;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	float: left;
}
.company .companyths .companyname .companytitle .qtsperson{
	max-width: 70%;
	background: #ff8200;/*color: #1AD46E;*/
	border-radius: 4px;
	font-size: 10px;
	color: #FFFFFF;
	float: left;
	padding: 1px 2px 1px 2px;
	margin-left: 5px;
	display: none;
	margin-top: 3px;
}

.company .companyths .companyname .qtsevalute{
	width: 100%;
	font-size: 13px;
	color: #999999;
	float: left;
}
.company .companyths .companyname .qtsevalute span{
	width: 30%;
	font-size: 13px;
	color: #999999;
	float: left;
	margin-top: 7px;
}

.company .companyths .companyname .qtsevalute .stas {
	width: 65%;
	font-size: 13px;
	color: #999999;
	padding-top: 7px;
	float: left;
}

.company .companyths .companyname .qtsevalute .stas img {
	width: 15px;
	height: 15px;
	margin: 0 6px 0 0;
}
.company .togoico{
	width: 12px;
	height: 14px;
	margin-right: 26px;
	float: right;
	margin-top: 18px;
}



.company .companystatus {
	width: 65%;
	height: 50px;
	margin-left: 25%;
	margin-top: -5px;
}

.company .companystatus li {
	border-right: 1px solid #DDDDDD;
	margin-top: 10px;
	float: left;
	padding-right: 10px;
}

.company .companystatus li:nth-of-type(2) {
	padding-left: 10px;
}

.company .companystatus li:nth-of-type(3) {
	padding-left: 10px;
	border: none;
}

.company .companystatus li .statusvalue {
	width: 100%;
	font-size: 15px;
	color: #888888;
}

.company .companystatus li .statusconts {
	width: 100%;
	font-size: 13px;
	color: #888888;
}
.jiange{
	width: 100%;
	height:10px;
}

.jutineirs {
	width: 100%;
	background: #FFFFFF;
}
.jutineirs .jutitle{
	width: calc(100% - 16px);
	margin-left: 16px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	border-bottom: 1px solid #EEEEEE;
}
.jutineirs .wenzis {
	width: calc(100% - 32px);
	padding: 10px 16px 10px 16px;
	font-size: 14px;
	word-wrap:break-word;
	white-space: pre-line;
	overflow: hidden;
}
.jutineirs .lookmore{
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 14px;
	color: #333333;
	border-bottom: 1px solid #EEEEEE;
	border-top: 1px solid #EEEEEE;
	display: none;
}
.jutineirs .lookmore img{
	width: 10px;
    margin-left: 5px;
}
.jutineirs .lookmore.gcrlo{
	color: #ff8200;/*color: #1AD46E;*/
}

.repotip{
	width: calc(100% - 16px);
	height: 48px;
	background: #FFFFFF;
	padding-left: 16px;
	line-height: 48px;
	border-top: 1px solid #DDDDDD;
	position: relative;
    overflow: hidden;
}
.repotip .contentPrompt{
	font-size: 15px;
	color: #424242;
	float: left;
}
.repotip img{
	float: left;
	width: 18px;
	margin-top: 15px;
    margin-right: 5px;
}
.salaryt{
	width: calc(100% - 16px);
	height: 48px;
	background: #FFFFFF;
	padding-left: 16px;
	line-height: 48px;
	border-top: 1px solid #DDDDDD;
	position: relative;
    overflow: hidden;
}
.salaryt .contompt{
	font-size: 15px;
	color: #424242;
	float: left;
}
.salaryt img{
	float: left;
	width: 18px;
	margin-top: 15px;
    margin-right: 5px;
}

.jobinterview{
	width: 100%;
	margin-top: 10px;
	background: #FFFFFF;
	position: relative;
    overflow: hidden;
}
.jobinterview .intertitle{
	width: calc(100% - 16px);
	margin-left: 16px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	border-bottom: 1px solid #EEEEEE;
}
.jobinterview .intertcont{
	width: calc(100% - 32px);
	padding: 15px 16px 15px 16px;
}
.jobinterview .intertcont .intertime{
	font-size: 14px;
	color: #666666;
}
.jobinterview .intertcont .intertime span{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #999999;
	float: left;
	margin-right: 5px;
	margin-top: 8px;
}
	
.jobinterview .intertcont .interaddr{
	font-size: 14px;
	color: #666666;
	margin-top: 10px;
}
.jobinterview .intertcont .interaddr span{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #999999;
	float: left;
	margin-right: 5px;
	margin-top: 8px;
}
.requirements{
	width: 100%;
	margin-top: 10px;
	background: #FFFFFF;
	position: relative;
    overflow: hidden;
}
.requirements .requirtitle{
	width: calc(100% - 16px);
	margin-left: 16px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	border-bottom: 1px solid #EEEEEE;
}
.requirements .requirtcont{
	width: calc(100% - 32px);
	padding: 15px 16px 15px 16px;
}
.requirements .requirtcont .requirtime{
	font-size: 14px;
	color: #666666;
}
.requirements .requirtcont .requirtime span{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #999999;
	float: left;
	margin-right: 5px;
	margin-top: 8px;
}
.requirements .requirtcont .requiraddr{
	font-size: 14px;
	color: #666666;
}
.requirements .requirtcont .requiraddr span{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #999999;
	float: left;
	margin-right: 5px;
	margin-top: 8px;
}
.photoments{
	width: 100%;
	margin-top: 10px;
	background: #FFFFFF;
	position: relative;
    overflow: hidden;
}
.photoments .phototitle{
	width: calc(100% - 16px);
	margin-left: 16px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	border-bottom: 1px solid #EEEEEE;
}
.photoments .imgpic {
	width: calc(100% - 16px);
	padding-left: 8px;
	padding-right: 8px;
	height: 136px;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #FFFFFF;
	position: relative;
	overflow: hidden;
}
.photoments .imgpic img {
	width: 136px;
	height: 136px;
	margin-right: 16px;
	border-radius: 8px;
}



.studentimg{
	width: 100%;
	margin-top: 10px;
	background: #FFFFFF;
	position: relative;
    overflow: hidden;
}
.studentimg .studentitle{
	width: calc(100% - 16px);
	margin-left: 16px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	border-bottom: 1px solid #EEEEEE;
}
.studentimg .studentitle img{
	width: 12px;
    height: 14px;
    float: right;
    margin-right: 16px;
    margin-top: 14px;
}

.studentimg .yibaoming {
	width: calc(100% - 24px);
    padding: 0 12px 0 12px;
    height: 72px;
    background: #FFFFFF;
}

.studentimg .yibaoming img {
	width: 36px;
	height: 36px;
	margin-top: 18px;
	border: 1px solid #FFFFFF;
	box-shadow: 0 0 10 #EEEEEE;
	border-radius: 50%;
	background: #e5e5e5;
	float: left;
	margin-right: 5px;
}
.studentimg .numacc{
	width: 36px;
	height: 36px;
	margin-top: 18px;
	border: 1px solid #FFFFFF;
	box-shadow: 0 0 10 #EEEEEE;
	border-radius: 50%;
	float: left;
	background: #EFF1F6;
	color: #999999;
	font-size: 14px;
	text-align: center;
	line-height: 36px;
	display: none;
}
.youlike{
	width: 100%;
	margin-top: 10px;
	background: #FFFFFF;
	position: relative;
    overflow: hidden;
}
.youlike .liketitle{
	width: calc(100% - 16px);
	margin-left: 16px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	border-bottom: 1px solid #EEEEEE;	
}

.dibu {
	width: 100%;
	height: 50px;
	background: #F6F6FA;
}
.foots {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	color: #444444;
	text-align: center;
	font-size: 18px;
	z-index: 1;
}

.foots .remin_der {
	width: 100%;
	height: 50px;
	background: #ff8200;
	float: right;
	display: none;
}

.foots .remin_der .count_downs {
	width: 40%;
	height: 50px;
	float: left;
}

.foots .remin_der .count_downs .distance {
	width: 100%;
	font-size: 12px;
	color: #FFFFFF;
	margin-top: 7px;
	overflow: hidden;
}

.foots .remin_der .count_downs .distance .zaor_number {
	text-align: center;
	width: 100%;
}

.foots .remin_der .count_downs .open_grab {
	width: 100%;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
}

.foots .remin_der .alarm_clock {
	width: 55%;
	height: 50px;
	line-height: 50px;
	float: left;
}

.foots .remin_der .alarm_clock img {
	width: 25px;
	margin-top: 13px;
	margin-left: 30%;
	float: left;
}

.foots .remin_der .alarm_clock .set_tixing {
	font-size: 17px;
	color: #FFFFFF;
}

.foots .remin_der .lines_center {
	width: 1px;
	height: 30px;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	float: left;
	margin: 9px 0 0 0;
}
.foots .collectpart {
	width: 30%;
	height: 50px;
	background: #FFFFFF;
	float: left;
	font-size: 16px;
	color: #666666;
	line-height: 50px;
}

.foots .collectpart img {
	width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -4px;
}

.foots input {
	width: 70%;
	height: 50px;
	background: #6ADB7C;
	color: #FFFFFF;
	font-size: 17px;
	border: none;
	outline: none;
	z-index: 1;
	border-radius: 0;
	float: left;
}

.foots input.hui {
	background: #999999;
	display: none;
	opacity: 1;
}

.foots input.green {
	background: #ff8200;
	display: none;
	opacity: 1;
}

.foots input.baoming {
	width: 100%;
	margin: 0;
}

.m_nav {
	margin-top: 0px;
	float: left;
	width: 50%;
	height: 50px;
	background: #FFFFFF;
}

.m_nav img {
	width: 25px;
	margin-top: 5px;
}

.m_nav a {
	width: 50%;
	text-decoration: none;
	height: 50px;
	text-align: center;
	float: left;
	margin-top: 0px;
}

.m_nav a span {
	width: 100%;
	float: left;
	line-height: 0px;
	font-size: 12px;
	color: #666666;
	margin-top: 5px;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

#baom {
	color: #ff8564;
}

.sign_up {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9998;
	display: none;
}

.signbao {
	width: 100%;
	height: 100%;
	display: none;
}

.sign_content {
	position: fixed;
	width: 250px;
	background: #FFFFFF;
	border-radius: 8px;
	height: 397px;
	top: 50%;
	left: 50%;
	margin-top: -185px;
	margin-left: -125px;
	display: none;
	z-index: 9999;
}

.sign_content .img_head {
	width: 100%;
	text-align: center;
}

.sign_content .img_head img {
	margin: -35px 0 0 0;
	width: 56px;
	height: 56px;
	z-index: 666;
	border-radius: 4px;
	box-shadow: 0 0 10px #CCCCCC;
}

.sign_content .img_head .job_money {
	color: #FF8564;
	font-size: 17px;
	margin-top: 8px;
	margin-bottom: 14px;
}

.sign_content .img_head .job_name {
	width: calc(100% - 12px);
	margin-left: 6px;
	font-size: 17px;
	color: #424242;
	margin-top: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.sign_content .job_content {
	width: 100%;
	height: 105px;
	overflow-x: hidden;
}

.sign_content .job_content .job_wenzi {
	width: 90%;
	margin: 0 auto;
	word-wrap: break-word;
	text-align: center;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.sign_content .reminder {
	width: calc(100% - 35px);
	margin: 12px auto;
	font-size: 13px;
	color: #888888;
}

.sign_content .iagree {
	width: calc(100% - 25px);
	margin: 0 auto;
	overflow: hidden;
	color: #888888;
}

.sign_content .iagree img {
	width: 18px;
	float: left;
	margin: 7px 5px 0 0;
}

.sign_content .iagree .xieyi {
	margin: 5px 0 5px 0;
	font-size: 12px;
	padding-top: 2px;
	color: #888888;
}

.sign_content .iagree .xieyi a span {
	text-decoration: underline;
	color: #888888;
}

.sign_content .noqueren {
	background: #B4EDBD;
	text-align: center;
	color: #FFFFFF;
	border: none;
	width: calc(100% - 32px);
	margin: 0 16px 0 16px;
	height: 48px;
	font-size: 17px;
	line-height: 40px;
	border-radius: 8px;
	margin-top: 18px;
	display: none;
}

.sign_content .queren {
	background: #6ADB7C;
	text-align: center;
	box-shadow: 0 0 10px #6ADB7C;
	color: #FFFFFF;
	border: none;
	width: calc(100% - 32px);
	margin: 0 16px 0 16px;
	height: 48px;
	font-size: 17px;
	line-height: 40px;
	border-radius: 8px;
	margin-top: 18px;
}
.sign_content .little{
	width: 100%;
	text-align: center;
	color: #888888;
	font-size: 15px;
	margin-top: 16px;
}

.sign_content .cha {
	position: absolute;
	right: 10px;
	width: 25px;
	margin-top: 5px;
}

.areaclass {
	font-family: '微软雅黑';
	height: 70px;
	width: calc(100% - 32px);
	padding: 0 16px 0 16px;
	font-size: 15px;
	color: #CCCCCC;
	text-align: left;
	border: 1px solid #EEEEEE;
	-webkit-appearance: none;
	padding-top: 12px;
	border-left: none;
	border-right: none;
}

.third_line {
	width: calc(100% - 32px);
	padding: 0 16px 0 16px;
	font-size: 18px;
	text-align: center;
	color: #ff8200;
}

.third_line span.fonts {
	margin: 0px 0 0 10px;
	font-size: 15px;
}

.third_line span.line {
	width: 30%;
	height: 10px;
	float: left;
	display: block;
	margin-top: 8px;
	background: url(https://7xlnm9.com2.z0.glb.qiniucdn.com/20160409-weixinLineleft@3x.png) no-repeat 0 0px;
	background-size: 100% 6px;
	/*border-bottom: 1px solid #e4e4e4;*/
}

.third_line span.line.right {
	float: right;
	background: url(https://7xlnm9.com2.z0.glb.qiniucdn.com/20160409-weixinLineright@3x.png) no-repeat 0 0px;
	background-size: 100% 5px;
}

.third_line img {
	width: 17px;
	height: 17px;
	margin: -4px 0 0 0px;
	border: none;
	border-radius: 0px;
	vertical-align: middle;
}

.third_line img.addressa {
	width: 15px;
	height: 17px;
	margin: -4px 0 0 0px;
	border: none;
	border-radius: 0px;
	vertical-align: middle;
}


/*投递机会不足*/
.deliverybg {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1000;
	bottom: 0;
	display: none;
}

.delivery {
	position: fixed;
	width: 280px;
	height: 357px;
	background: #FFFFFF;
	top: 50%;
	left: 50%;
	margin-top: -178.5px;
	margin-left: -140px;
	z-index: 1001;
	border-radius: 8px;
	display: none;
}

.delivery .delivery_title {
	width: 280px;
	height: 24px;
	margin-top: 24px;
	text-align: center;
	font-size: 17px;
	color: #424242;
}

.delivery .advertisement {
	width: 248px;
	margin: 24px 16px 0 16px;
	text-align: center;
	color: #888888;
	font-size: 15px;
}

.delivery .advertisement .lineleft {
	float: left;
	width: 30%;
	height: 10px;
	border-bottom: 1px solid #EEEEEE;
}

.delivery .advertisement .lineright {
	float: right;
	width: 30%;
	height: 10px;
	border-bottom: 1px solid #EEEEEE;
}

.delivery ul{
	width: 280px;
}
.delivery ul li{
	width: 280px;
	height: 40px;
	margin-top: 24px;
}
.delivery ul li img{
	width: 22px;
	margin-top: 7px;
}
.delivery ul li .delivery_content{
	width: 174px;
	height: 40px;
	padding-left: 16px;
	float: left;
	font-size: 15px;
	color: #424242;
	line-height: 40px;
}
.delivery ul li .personauth{
	width: 55px;
	height: 36px;
	background: #CDD5D7;
	border-radius: 6px;
	float: right;
	border: none;
	outline: none;
	margin: 2px 16px 0 0;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 36px;
}
.delivery ul li .wanshanzi{
	width: 55px;
	height: 36px;
	background: #ff8200;/*#2FD478;*/
	border-radius: 6px;
	float: right;
	border: none;
	outline: none;
	margin: 2px 16px 0 0;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 36px;
}
.delivery ul li:nth-of-type(2){
	margin-top: 16px;
}
.delivery ul li:nth-of-type(3){
	margin-top: 16px;
}
.delivery .underline{
	width: 244px;
	height: 1px;
	background: #DDDDDD;
	margin: 24px 0 0 16px;
}

.delivery .biaozhu{
	width: 248px;
	height: 36px;
	margin: 15px 0 0 16px;
	font-size: 13px;
	color: #999999;
}
.putdovebg{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1100;
	bottom: 0;
	display: none;
}
.putdove{
	position: fixed;
	width: 284px;
	height: 188px;
	background: #FFFFFF;
	top: 50%;
	left: 50%;
	margin-top: -94px;
	margin-left: -142px;
	z-index: 1101;
	border-radius: 8px;
	text-align: center;
	display: none;
}
.putdove .dovetitle{
	width: 100%;
	margin-top: 24px;
	margin-bottom: 12px;
	font-size: 17px;
	color: #424242;
}
.putdove .dovecontent{
	width: calc(100% - 48px);
	font-size: 14px;
	color: #666666;
	margin: 0 24px 24px 24px;
}
.putdove .dovedown{
	width: 100%;
	border-top: 1px solid #DDDDDD;
	line-height: 44px;
	font-size: 16px;
	color: #ff8200;/*color: #2CCB72;*/
}

/*背景变暗*/

.del {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
	height: 100%;
	display: none;
}

.del .bg_del {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #393939;
	opacity: 0.3;
	z-index: 200;
}

.del ul {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #FFFFFF;
	z-index: 999;
}

.del ul li {
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	border-bottom: 1px solid #E4E4E4;
}

.erweicode {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 2;
}

.erweicode .bg_back {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #393939;
	opacity: 0.3;
	z-index: 555;
}

.erweicode .code {
	position: absolute;
	width: 80%;
	margin: 40% 0 0 10%;
	border-radius: 5px;
	/*height: 150px;*/
	background: #FFFFFF;
	z-index: 666;
}

.erweicode .code .hong {
	width: 100%;
	height: 8px;
	background: #FF8564;
	border-radius: 5px 5px 0 0;
}

.erweicode .code p {
	padding: 0 10px;
	color: #666666;
	font-size: 14px;
}

.erweicode .code .imgcode {
	width: 100%;
	text-align: center;
}

.erweicode .code .imgcode img {
	width: 180px;
}

.task {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 99999;
}

.task .task_bg_back {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #393939;
	opacity: 0.3;
	z-index: 2;
}

.task .task_code {
	position: absolute;
	width: 80%;
	margin-left: 10%;
	top: 110px;
	background: #FFFFFF;
	z-index: 3;
	/*text-align: center;*/
	border-radius: 5px;
}

.task .task_code .code_content {
	width: calc(100% - 32px);
	padding: 0 16px 0 16px;
	text-align: center;
}

.task .task_code .code_content img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 5px solid rgba(225, 225, 225, 0.7);
	margin-top: -30px;
}

.task .task_code .code_content p {
	font-size: 16px;
	color: #666666;
	margin: 10px 0 0 0;
	word-wrap: break-word;
}

.task .task_code .code_content input {
	margin: 10px 0 10px 0;
	height: 30px;
	width: 85%;
	border-top: none;
	border-bottom: 1px solid #CCCCCC;
	border-left: none;
	border-right: none;
	/*padding-left: 10%;*/
}

.task .task_code .code_content input .phone_number {
	background-image: url(../img/consummation-1@3x.png);
	background: #ffffff url(../img/consummation-1@3x.png) 10px center no-repeat;
	background-size: 30px 30px;
}

.task .task_code .code_content input.queding {
	width: 70%;
	height: 36px;
	font-size: 16px;
	background: #ff8200;
	color: #FFFFFF;
	border-radius: 18px;
	border-bottom: none;
}

.task .task_code .code_content input.imgcode {
	width: 40%;
	margin-left: 30px;
	float: left;
}

.task .task_code .code_content img.yancode {
	float: right;
	width: 35%;
	height: 30px;
	border: none;
	border-radius: 5px;
	margin: 10px 10px 0 0;
}

.task .task_code .code_content img.partjoblogo {
	margin-left: 12%;
}

.task .task_code .code_content img.imgtitone {
	width: 20px;
	height: 20px;
	margin: 0;
	border: none;
	border-radius: 0;
	vertical-align: middle;
}

.task .task_code .code_content img.imgtittwo {
	width: 20px;
	height: 20px;
	margin: 0;
	border: none;
	border-radius: 0;
	vertical-align: middle;
}

.task .task_code .code_content img.eorro {
	width: 20px;
	height: 20px;
	margin: 10px 0 0 0;
	border: none;
	border-radius: 0;
	float: right;
}

.immediately {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1099;
}

.immediately .immback {
	position: absolute;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.5);
	z-index: 1002;
	top: 0;
}

.immediately .wait {
	position: absolute;
	width: 250px;
	background: #FFFFFF;
	border-radius: 5px;
	height: 380px;
	top: 50%;
	left: 50%;
	margin-top: -180px;
	margin-left: -125px;
	z-index: 6666;
}

.immediately .wait .heads {
	width: 100%;
	text-align: center;
}

.immediately .wait .heads img {
	margin-top: 22px;
	width: 140px;
}

.immediately .wait .heads p {
	font-size: 16px;
	color: #424242;
}

.immediately .wait .conrrent {
	width: calc(100% - 24px);
	margin-left: 12px;
	font-size: 12px;
	color: #666666;
}

.immediately .wait .conrrent p {
	color: #ff9058;
}

.immediately .wait .conrrent input {
	height: 36px;
	float: left;
	width: calc(50% - 6px);
	font-size: 14px;
	border-radius: 5px;
}

.immediately .wait .conrrent input.cancle{
	border: 1px solid #6ADB7C;
	background: #FFFFFF;
	color: #6ADB7C;
}
.immediately .wait .conrrent input.confirmation{
	border: 1px solid #6ADB7C;
	background: #6ADB7C;
	margin-left: 8px;
	color: #FFFFFF;
}

.baomanbg {
	position: fixed;
	width: 100%;
	top: 0;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 9999;
	display: none;
}

.baomanbg .baomancon {
	position: fixed;
	top: 50%;
	margin-top: -70px;
	width: 80%;
	margin-left: 10%;
	height: 140px;
	border-radius: 4px;
	background: #FFFFFF;
}

.baomanbg .baomancon .baomantop {
	width: 80%;
	height: 72px;
	margin-top: 24px;
	font-size: 17px;
	text-align: center;
	margin-left: 10%;
}

.baomanbg .baomancon .baomandown {
	width: 100%;
	font-size: 16px;
	color: #ff8200;
	height: 44px;
	line-height: 44px;
	text-align: center;
	border-top: 1px solid #DDDDDD;
}


/*诱导下载*/
.download {
	width: 100%;
	height: 64px;
	bottom: 0;
	box-shadow: 0 0 10px 5px #F0EFF5;
	background: #FFFFFF;
	margin: 10px 0 1px 0;
}

.download .oneleft {
	height: 56px;
	margin: 8px 2% 0 3%;
	float: left;
}

.download .oneleft img {
	width: 48px;
}

.download .twocenter {
	width: 55%;
	height: 64px;
	float: left;
}

.download .twocenter .centertop {
	width: 100%;
	font-size: 17px;
	margin-top: 12px;
	color: #424242;
}

.download .twocenter .centerdown {
	width: 100%;
	font-size: 11px;
	color: #888888;
	margin-top: 5px;
}

.download .threeright {
	width: 25%;
	height: 64px;
	float: left;
}

.download .threeright .downloadapp {
	width: 90%;
	height: 30px;
	background: #FFFFFF;
	line-height: 30px;
	border: 1px solid #6ADB7C;
	text-align: center;
	outline: none;
	font-size: 14px;
	color: #6ADB7C;
	border-radius: 6px;
	margin-top: 19px;
}

.sexmodal{
	width: 100%;
	height: 100%;
	display: none;
}
.sexmodal .sexblack{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 9999;
}
.sexmodal .sexcontent{
	position: fixed;
	width: 70%;
	background: #FFFFFF;
	border-radius: 8px;
	height: 132px;
	top: 50%;
	left: 50%;
	margin-top: -68px;
	margin-left: -35%;
	z-index: 9999;
}
.sexmodal .sexcontent .showmessage{
	width: 90%;
	height: 64px;
	text-align: center;
	color: #424242;
	padding: 0 5% 0 5%;
	margin-top: 24px;
	font-size: 15px;
	border-bottom: 1px solid #EEEEEE;
}
.sexmodal .sexcontent .closemessge{
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #2CCB72 ;
	font-size: 16px;
}

input {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.headertit{
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #FFFFFF;
	z-index: 999;
}
.headertit .headleft{
	width: 15%;
    height: 45px;
    float: left;
    padding-left: 5%;
    padding-top: 5px;
}
.headertit .headleft img{
	 width: 12px;
	 height: 20px;
}	
	
.headertit .headcenter{
	width: 60%;
	height: 50px;
	text-align: center;
	float: left;
	font-size: 17px;
	color: #424242;
}
.allmess{
	position: relative;
	width: 100%;
	margin-top: 60px;
	overflow: hidden;
}	
.headzinde{
	width: calc(100% - 32px);
	padding: 10px 16px 17px 16px;
	background: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
}
.headzinde .headtitle {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.headzinde .headtitle .qtstitle{
	width: 70%;
	font-size: 18px;
	color: #333333;
	float: left;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.headzinde .headtitle .qtsalayt{
	width: 30%;
	font-size: 15px;
	color: #FD5A5A;
	float: right;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: right;
}

.headzinde .qtsbones{
	width: 100%;
	padding-top: 11px;
}
.headzinde .qtsbones .morebons{
	background: #F9F9F9;
	border: 1px solid #F5F5F5;
	border-radius: 4px;
	font-size: 10px;
	color: #666666;
	border: none;
	padding: 5px;
}

.headzinde .qtslabel{
	width: 100%;
	margin-top: 10px;
	font-size: 12px;
	color: #666666;
}

.part_infos {
	width: 100%;
	background: #FFFFFF;
}

.part_infos .infos_list {
	width: calc(100% - 16px);
	margin: 0 0 0 16px;
	overflow: hidden;
	border-bottom: 1px solid #E4E4E4;
	padding: 12.5px 0 12.5px 0;
}

.part_infos .infos_list .infos_logos {
	width: 34px;
	float: left;
}

.part_infos .infos_list .infos_logos .infos_imgs {
	width: 18px;
}

.part_infos .infos_list .infos_cons {
	width: 82%;
	float: left;
	word-break: break-all;
}

.part_infos .infos_list .infos_cons .infos_titles {
	font-size: 12px;
	margin-top: 12px;
	color: #999999;
}

.part_infos .infos_list .infos_cons .infos_texts {
	width: 100%;
	font-size: 14px;
}

.part_infos .infos_list .infos_cons .infos_texts .address_one {
	width: 76%;
	font-size: 15px;
	color: #424242;
	float: left;
}
.part_infos .infos_list .infos_cons .infos_texts .kilometers{
	width: 24%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	float: right;
	text-align: right;
}

.part_infos .infos_list .infos_cons .infos_texts .address_two {
	font-size: 15px;
	color: #424242;
	float: left;
	
}

.part_infos .infos_list .infos_right {
	width: 20px;
	float: right;
}

.part_infos .infos_list .infos_right .arrow_right {
	width: 14px;
	margin-top: 4px;
}

.part_infos .infos_list .infos_cons .infos_texts ul {
	width: 86%;
	margin: -18px 0 0 40px;
	padding: 0 0 10px 0;
	float: left;
	overflow: hidden;
	word-wrap: break-word; 
	word-break: normal; 
	text-overflow: ellipsis;
}

.part_infos .infos_list .infos_cons .infos_texts ul li {
	float: left;
	font-size: 15px;
	color: #999999;
	margin-left: 3px;
	margin-top: -3px;
}
.busimess{
	position: relative;
	overflow: hidden;
	width: 100%;
	
}
.company {
	width: 100%;
	margin-top: 10px;
	background: #FFFFFF;
}
.company .companynei{
	width: calc(100% - 16px);
	margin-left: 16px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	border-bottom: 1px solid #EEEEEE;
}
.company .companyths {
	width: 100%;
	padding: 15px 16px 15px 16px;
	position: relative;
    overflow: hidden;
    background: url(../source_7niu//20160826arrowright.png) no-repeat 88% 49%;
    background-size: 14px 14px;
}
.company .companyths .companylogo{
	width: 11%;
	height: 53px;
	float: left;
}
.company .companyths .companylogo img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
.company .companyths .companyname {
	max-width: 80%;
    float: left;
    margin-left: 15px;
    
}
.company .companyths .companyname .companytitle{
	width: 100%;
	float: left;
}
.company .companyths .companyname .companytitle .partitles{
	max-width: 70%;
	font-size: 16px;
	color: #333333;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	float: left;
}
.company .companyths .companyname .companytitle .qtsperson{
	max-width: 70%;
	background: #ff8200;/*color: #1AD46E;*/
	border-radius: 4px;
	font-size: 10px;
	color: #FFFFFF;
	float: left;
	padding: 1px 2px 1px 2px;
	margin-left: 5px;
	display: none;
	margin-top: 3px;
}

.company .companyths .companyname .qtsevalute{
	width: 100%;
	font-size: 13px;
	color: #999999;
	float: left;
}
.company .companyths .companyname .qtsevalute span{
	width: 30%;
	font-size: 13px;
	color: #999999;
	float: left;
	margin-top: 7px;
}

.company .companyths .companyname .qtsevalute .stas {
	width: 65%;
	font-size: 13px;
	color: #999999;
	padding-top: 7px;
	float: left;
}

.company .companyths .companyname .qtsevalute .stas img {
	width: 15px;
	height: 15px;
	margin: 0 6px 0 0;
}
.company .togoico{
	width: 12px;
	height: 14px;
	margin-right: 26px;
	float: right;
	margin-top: 18px;
}



.company .companystatus {
	width: 65%;
	height: 50px;
	margin-left: 25%;
	margin-top: -5px;
}

.company .companystatus li {
	border-right: 1px solid #DDDDDD;
	margin-top: 10px;
	float: left;
	padding-right: 10px;
}

.company .companystatus li:nth-of-type(2) {
	padding-left: 10px;
}

.company .companystatus li:nth-of-type(3) {
	padding-left: 10px;
	border: none;
}

.company .companystatus li .statusvalue {
	width: 100%;
	font-size: 15px;
	color: #888888;
}

.company .companystatus li .statusconts {
	width: 100%;
	font-size: 13px;
	color: #888888;
}
.jiange{
	width: 100%;
	height:10px;
}

.jutineirs {
	width: 100%;
	background: #FFFFFF;
}
.jutineirs .jutitle{
	width: calc(100% - 16px);
	margin-left: 16px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	border-bottom: 1px solid #EEEEEE;
}
.jutineirs .wenzis {
	width: calc(100% - 32px);
	padding: 10px 16px 10px 16px;
	font-size: 14px;
	word-wrap:break-word;
	white-space: pre-line;
	overflow: hidden;
}
.jutineirs .lookmore{
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 14px;
	color: #333333;
	border-bottom: 1px solid #EEEEEE;
	border-top: 1px solid #EEEEEE;
	display: none;
}
.jutineirs .lookmore img{
	width: 10px;
    margin-left: 5px;
}
.jutineirs .lookmore.gcrlo{
	color: #ff8200;/*color: #1AD46E;*/
}

.bonsmoney{
	width: calc(100% - 32px);
	padding: 5px 16px 5px 16px;
	background: #FFFFFF;
	position: relative;
    overflow: hidden;
}
.bonsmoney li{
	width: 100%;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.bonsmoney li span{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #999999;
	float: left;
	margin-right: 5px;
	margin-top: 13px;
}

.repotip{
	width: calc(100% - 16px);
	height: 48px;
	background: #FFFFFF;
	padding-left: 16px;
	line-height: 48px;
	border-top: 1px solid #DDDDDD;
	position: relative;
    overflow: hidden;
}
.repotip .contentPrompt{
	font-size: 15px;
	color: #424242;
	float: left;
}
.repotip img{
	float: left;
	width: 18px;
	margin-top: 15px;
    margin-right: 5px;
}
.salaryt{
	width: calc(100% - 16px);
	height: 48px;
	background: #FFFFFF;
	padding-left: 16px;
	line-height: 48px;
	border-top: 1px solid #DDDDDD;
	position: relative;
    overflow: hidden;
}
.salaryt .contompt{
	font-size: 15px;
	color: #424242;
	float: left;
}
.salaryt img{
	float: left;
	width: 18px;
	margin-top: 15px;
    margin-right: 5px;
}

.jobinterview{
	width: 100%;
	margin-top: 10px;
	background: #FFFFFF;
	position: relative;
    overflow: hidden;
}
.jobinterview .intertitle{
	width: calc(100% - 16px);
	margin-left: 16px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	border-bottom: 1px solid #EEEEEE;
}
.jobinterview .intertcont{
	width: calc(100% - 32px);
	padding: 15px 16px 15px 16px;
}
.jobinterview .intertcont .intertime{
	font-size: 14px;
	color: #666666;
}
.jobinterview .intertcont .intertime span{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #999999;
	float: left;
	margin-right: 5px;
	margin-top: 8px;
}
	
.jobinterview .intertcont .interaddr{
	font-size: 14px;
	color: #666666;
	margin-top: 10px;
}
.jobinterview .intertcont .interaddr span{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #999999;
	float: left;
	margin-right: 5px;
	margin-top: 8px;
}
.requirements{
	width: 100%;
	margin-top: 10px;
	background: #FFFFFF;
	position: relative;
    overflow: hidden;
}
.requirements .requirtitle{
	width: calc(100% - 16px);
	margin-left: 16px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	border-bottom: 1px solid #EEEEEE;
}
.requirements .requirtcont{
	width: calc(100% - 32px);
	padding: 15px 16px 15px 16px;
}
.requirements .requirtcont .requirtime{
	font-size: 14px;
	color: #666666;
}
.requirements .requirtcont .requirtime span{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #999999;
	float: left;
	margin-right: 5px;
	margin-top: 8px;
}
.requirements .requirtcont .requiraddr{
	font-size: 14px;
	color: #666666;
}
.requirements .requirtcont .requiraddr span{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #999999;
	float: left;
	margin-right: 5px;
	margin-top: 8px;
}
.photoments{
	width: 100%;
	margin-top: 10px;
	background: #FFFFFF;
	position: relative;
    overflow: hidden;
}
.photoments .phototitle{
	width: calc(100% - 16px);
	margin-left: 16px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	border-bottom: 1px solid #EEEEEE;
}
.photoments .imgpic {
	width: calc(100% - 16px);
	padding-left: 8px;
	padding-right: 8px;
	height: 136px;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #FFFFFF;
	position: relative;
	overflow: hidden;
}
.photoments .imgpic img {
	width: 136px;
	height: 136px;
	margin-right: 16px;
	border-radius: 8px;
}



.studentimg{
	width: 100%;
	margin-top: 10px;
	background: #FFFFFF;
	position: relative;
    overflow: hidden;
}
.studentimg .studentitle{
	width: calc(100% - 16px);
	margin-left: 16px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	border-bottom: 1px solid #EEEEEE;
}
.studentimg .studentitle img{
	width: 12px;
    height: 14px;
    float: right;
    margin-right: 16px;
    margin-top: 14px;
}

.studentimg .yibaoming {
	width: calc(100% - 24px);
    padding: 0 12px 0 12px;
    height: 72px;
    background: #FFFFFF;
}

.studentimg .yibaoming img {
	width: 36px;
	height: 36px;
	margin-top: 18px;
	border: 1px solid #FFFFFF;
	box-shadow: 0 0 10 #EEEEEE;
	border-radius: 50%;
	background: #e5e5e5;
	float: left;
	margin-right: 5px;
}
.studentimg .numacc{
	width: 36px;
	height: 36px;
	margin-top: 18px;
	border: 1px solid #FFFFFF;
	box-shadow: 0 0 10 #EEEEEE;
	border-radius: 50%;
	float: left;
	background: #EFF1F6;
	color: #999999;
	font-size: 14px;
	text-align: center;
	line-height: 36px;
	display: none;
}
.youlike{
	width: 100%;
	margin-top: 10px;
	background: #FFFFFF;
	position: relative;
    overflow: hidden;
}
.youlike .liketitle{
	width: calc(100% - 16px);
	margin-left: 16px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	border-bottom: 1px solid #EEEEEE;	
}

.dibu {
	width: 100%;
	height: 50px;
	background: #F6F6FA;
}
.foots {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	color: #444444;
	text-align: center;
	font-size: 18px;
	z-index: 1;
}

.foots .remin_der {
	width: 100%;
	height: 50px;
	background: #ff8200;
	float: right;
	display: none;
}

.foots .remin_der .count_downs {
	width: 40%;
	height: 50px;
	float: left;
}

.foots .remin_der .count_downs .distance {
	width: 100%;
	font-size: 12px;
	color: #FFFFFF;
	margin-top: 7px;
	overflow: hidden;
}

.foots .remin_der .count_downs .distance .zaor_number {
	text-align: center;
	width: 100%;
}

.foots .remin_der .count_downs .open_grab {
	width: 100%;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
}

.foots .remin_der .alarm_clock {
	width: 55%;
	height: 50px;
	line-height: 50px;
	float: left;
}

.foots .remin_der .alarm_clock img {
	width: 25px;
	margin-top: 13px;
	margin-left: 30%;
	float: left;
}

.foots .remin_der .alarm_clock .set_tixing {
	font-size: 17px;
	color: #FFFFFF;
}

.foots .remin_der .lines_center {
	width: 1px;
	height: 30px;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	float: left;
	margin: 9px 0 0 0;
}
.foots .collectpart {
	width: 30%;
	height: 50px;
	background: #FFFFFF;
	float: left;
	font-size: 16px;
	color: #666666;
	line-height: 50px;
}

.foots .collectpart img {
	width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -4px;
}

.foots input {
	width: 70%;
	height: 50px;
	background: #6ADB7C;
	color: #FFFFFF;
	font-size: 17px;
	border: none;
	outline: none;
	z-index: 1;
	border-radius: 0;
	float: left;
}

.foots input.hui {
	background: #999999;
	display: none;
	opacity: 1;
}

.foots input.green {
	background: #ff8200;
	display: none;
	opacity: 1;
}

.foots input.baoming {
	width: 100%;
	margin: 0;
}

.m_nav {
	margin-top: 0px;
	float: left;
	width: 50%;
	height: 50px;
	background: #FFFFFF;
}

.m_nav img {
	width: 25px;
	margin-top: 5px;
}

.m_nav a {
	width: 50%;
	text-decoration: none;
	height: 50px;
	text-align: center;
	float: left;
	margin-top: 0px;
}

.m_nav a span {
	width: 100%;
	float: left;
	line-height: 0px;
	font-size: 12px;
	color: #666666;
	margin-top: 5px;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

#baom {
	color: #ff8564;
}

.sign_up {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9998;
	display: none;
}

.signbao {
	width: 100%;
	height: 100%;
	display: none;
}

.sign_content {
	position: fixed;
	width: 250px;
	background: #FFFFFF;
	border-radius: 8px;
	height: 397px;
	top: 50%;
	left: 50%;
	margin-top: -185px;
	margin-left: -125px;
	display: none;
	z-index: 9999;
}

.sign_content .img_head {
	width: 100%;
	text-align: center;
}

.sign_content .img_head img {
	margin: -35px 0 0 0;
	width: 56px;
	height: 56px;
	z-index: 666;
	border-radius: 4px;
	box-shadow: 0 0 10px #CCCCCC;
}

.sign_content .img_head .job_money {
	color: #FF8564;
	font-size: 17px;
	margin-top: 8px;
	margin-bottom: 14px;
}

.sign_content .img_head .job_name {
	width: calc(100% - 12px);
	margin-left: 6px;
	font-size: 17px;
	color: #424242;
	margin-top: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.sign_content .job_content {
	width: 100%;
	height: 105px;
	overflow-x: hidden;
}

.sign_content .job_content .job_wenzi {
	width: 90%;
	margin: 0 auto;
	word-wrap: break-word;
	text-align: center;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.sign_content .reminder {
	width: calc(100% - 35px);
	margin: 12px auto;
	font-size: 13px;
	color: #888888;
}

.sign_content .iagree {
	width: calc(100% - 25px);
	margin: 0 auto;
	overflow: hidden;
	color: #888888;
}

.sign_content .iagree img {
	width: 18px;
	float: left;
	margin: 7px 5px 0 0;
}

.sign_content .iagree .xieyi {
	margin: 5px 0 5px 0;
	font-size: 12px;
	padding-top: 2px;
	color: #888888;
}

.sign_content .iagree .xieyi a span {
	text-decoration: underline;
	color: #888888;
}

.sign_content .noqueren {
	background: #B4EDBD;
	text-align: center;
	color: #FFFFFF;
	border: none;
	width: calc(100% - 32px);
	margin: 0 16px 0 16px;
	height: 48px;
	font-size: 17px;
	line-height: 40px;
	border-radius: 8px;
	margin-top: 18px;
	display: none;
}

.sign_content .queren {
	background: #6ADB7C;
	text-align: center;
	box-shadow: 0 0 10px #6ADB7C;
	color: #FFFFFF;
	border: none;
	width: calc(100% - 32px);
	margin: 0 16px 0 16px;
	height: 48px;
	font-size: 17px;
	line-height: 40px;
	border-radius: 8px;
	margin-top: 18px;
}
.sign_content .little{
	width: 100%;
	text-align: center;
	color: #888888;
	font-size: 15px;
	margin-top: 16px;
}

.sign_content .cha {
	position: absolute;
	right: 10px;
	width: 25px;
	margin-top: 5px;
}

.areaclass {
	font-family: '微软雅黑';
	height: 70px;
	width: calc(100% - 32px);
	padding: 0 16px 0 16px;
	font-size: 15px;
	color: #CCCCCC;
	text-align: left;
	border: 1px solid #EEEEEE;
	-webkit-appearance: none;
	padding-top: 12px;
	border-left: none;
	border-right: none;
}

.third_line {
	width: calc(100% - 32px);
	padding: 0 16px 0 16px;
	font-size: 18px;
	text-align: center;
	color: #ff8200;
}

.third_line span.fonts {
	margin: 0px 0 0 10px;
	font-size: 15px;
}

.third_line span.line {
	width: 30%;
	height: 10px;
	float: left;
	display: block;
	margin-top: 8px;
	background: url(https://7xlnm9.com2.z0.glb.qiniucdn.com/20160409-weixinLineleft@3x.png) no-repeat 0 0px;
	background-size: 100% 6px;
	/*border-bottom: 1px solid #e4e4e4;*/
}

.third_line span.line.right {
	float: right;
	background: url(https://7xlnm9.com2.z0.glb.qiniucdn.com/20160409-weixinLineright@3x.png) no-repeat 0 0px;
	background-size: 100% 5px;
}

.third_line img {
	width: 17px;
	height: 17px;
	margin: -4px 0 0 0px;
	border: none;
	border-radius: 0px;
	vertical-align: middle;
}

.third_line img.addressa {
	width: 15px;
	height: 17px;
	margin: -4px 0 0 0px;
	border: none;
	border-radius: 0px;
	vertical-align: middle;
}


/*投递机会不足*/
.deliverybg {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1000;
	bottom: 0;
	display: none;
}

.delivery {
	position: fixed;
	width: 280px;
	height: 357px;
	background: #FFFFFF;
	top: 50%;
	left: 50%;
	margin-top: -178.5px;
	margin-left: -140px;
	z-index: 1001;
	border-radius: 8px;
	display: none;
}

.delivery .delivery_title {
	width: 280px;
	height: 24px;
	margin-top: 24px;
	text-align: center;
	font-size: 17px;
	color: #424242;
}

.delivery .advertisement {
	width: 248px;
	margin: 24px 16px 0 16px;
	text-align: center;
	color: #888888;
	font-size: 15px;
}

.delivery .advertisement .lineleft {
	float: left;
	width: 30%;
	height: 10px;
	border-bottom: 1px solid #EEEEEE;
}

.delivery .advertisement .lineright {
	float: right;
	width: 30%;
	height: 10px;
	border-bottom: 1px solid #EEEEEE;
}

.delivery ul{
	width: 280px;
}
.delivery ul li{
	width: 280px;
	height: 40px;
	margin-top: 24px;
}
.delivery ul li img{
	width: 22px;
	margin-top: 7px;
}
.delivery ul li .delivery_content{
	width: 174px;
	height: 40px;
	padding-left: 16px;
	float: left;
	font-size: 15px;
	color: #424242;
	line-height: 40px;
}
.delivery ul li .personauth{
	width: 55px;
	height: 36px;
	background: #CDD5D7;
	border-radius: 6px;
	float: right;
	border: none;
	outline: none;
	margin: 2px 16px 0 0;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 36px;
}
.delivery ul li .wanshanzi{
	width: 55px;
	height: 36px;
	background: #ff8200;/*#2FD478;*/
	border-radius: 6px;
	float: right;
	border: none;
	outline: none;
	margin: 2px 16px 0 0;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 36px;
}
.delivery ul li:nth-of-type(2){
	margin-top: 16px;
}
.delivery ul li:nth-of-type(3){
	margin-top: 16px;
}
.delivery .underline{
	width: 244px;
	height: 1px;
	background: #DDDDDD;
	margin: 24px 0 0 16px;
}

.delivery .biaozhu{
	width: 248px;
	height: 36px;
	margin: 15px 0 0 16px;
	font-size: 13px;
	color: #999999;
}
.putdovebg{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1100;
	bottom: 0;
	display: none;
}
.putdove{
	position: fixed;
	width: 284px;
	height: 188px;
	background: #FFFFFF;
	top: 50%;
	left: 50%;
	margin-top: -94px;
	margin-left: -142px;
	z-index: 1101;
	border-radius: 8px;
	text-align: center;
	display: none;
}
.putdove .dovetitle{
	width: 100%;
	margin-top: 24px;
	margin-bottom: 12px;
	font-size: 17px;
	color: #424242;
}
.putdove .dovecontent{
	width: calc(100% - 48px);
	font-size: 14px;
	color: #666666;
	margin: 0 24px 24px 24px;
}
.putdove .dovedown{
	width: 100%;
	border-top: 1px solid #DDDDDD;
	line-height: 44px;
	font-size: 16px;
	color: #ff8200;/*color: #2CCB72;*/
}

/*背景变暗*/

.del {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
	height: 100%;
	display: none;
}

.del .bg_del {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #393939;
	opacity: 0.3;
	z-index: 200;
}

.del ul {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #FFFFFF;
	z-index: 999;
}

.del ul li {
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	border-bottom: 1px solid #E4E4E4;
}

.erweicode {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 2;
}

.erweicode .bg_back {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #393939;
	opacity: 0.3;
	z-index: 555;
}

.erweicode .code {
	position: absolute;
	width: 80%;
	margin: 40% 0 0 10%;
	border-radius: 5px;
	/*height: 150px;*/
	background: #FFFFFF;
	z-index: 666;
}

.erweicode .code .hong {
	width: 100%;
	height: 8px;
	background: #FF8564;
	border-radius: 5px 5px 0 0;
}

.erweicode .code p {
	padding: 0 10px;
	color: #666666;
	font-size: 14px;
}

.erweicode .code .imgcode {
	width: 100%;
	text-align: center;
}

.erweicode .code .imgcode img {
	width: 180px;
}

.task {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 99999;
}

.task .task_bg_back {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #393939;
	opacity: 0.3;
	z-index: 2;
}

.task .task_code {
	position: absolute;
	width: 80%;
	margin-left: 10%;
	top: 110px;
	background: #FFFFFF;
	z-index: 3;
	/*text-align: center;*/
	border-radius: 5px;
}

.task .task_code .code_content {
	width: calc(100% - 32px);
	padding: 0 16px 0 16px;
	text-align: center;
}

.task .task_code .code_content img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 5px solid rgba(225, 225, 225, 0.7);
	margin-top: -30px;
}

.task .task_code .code_content p {
	font-size: 16px;
	color: #666666;
	margin: 10px 0 0 0;
	word-wrap: break-word;
}

.task .task_code .code_content input {
	margin: 10px 0 10px 0;
	height: 30px;
	width: 85%;
	border-top: none;
	border-bottom: 1px solid #CCCCCC;
	border-left: none;
	border-right: none;
	/*padding-left: 10%;*/
}

.task .task_code .code_content input .phone_number {
	background-image: url(../img/consummation-1@3x.png);
	background: #ffffff url(../img/consummation-1@3x.png) 10px center no-repeat;
	background-size: 30px 30px;
}

.task .task_code .code_content input.queding {
	width: 70%;
	height: 36px;
	font-size: 16px;
	background: #ff8200;
	color: #FFFFFF;
	border-radius: 18px;
	border-bottom: none;
}

.task .task_code .code_content input.imgcode {
	width: 40%;
	margin-left: 30px;
	float: left;
}

.task .task_code .code_content img.yancode {
	float: right;
	width: 35%;
	height: 30px;
	border: none;
	border-radius: 5px;
	margin: 10px 10px 0 0;
}

.task .task_code .code_content img.partjoblogo {
	margin-left: 12%;
}

.task .task_code .code_content img.imgtitone {
	width: 20px;
	height: 20px;
	margin: 0;
	border: none;
	border-radius: 0;
	vertical-align: middle;
}

.task .task_code .code_content img.imgtittwo {
	width: 20px;
	height: 20px;
	margin: 0;
	border: none;
	border-radius: 0;
	vertical-align: middle;
}

.task .task_code .code_content img.eorro {
	width: 20px;
	height: 20px;
	margin: 10px 0 0 0;
	border: none;
	border-radius: 0;
	float: right;
}

.immediately {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1099;
}

.immediately .immback {
	position: absolute;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.5);
	z-index: 1002;
	top: 0;
}

.immediately .wait {
	position: absolute;
	width: 250px;
	background: #FFFFFF;
	border-radius: 5px;
	height: 380px;
	top: 50%;
	left: 50%;
	margin-top: -180px;
	margin-left: -125px;
	z-index: 6666;
}

.immediately .wait .heads {
	width: 100%;
	text-align: center;
}

.immediately .wait .heads img {
	margin-top: 22px;
	width: 140px;
}

.immediately .wait .heads p {
	font-size: 16px;
	color: #424242;
}

.immediately .wait .conrrent {
	width: calc(100% - 24px);
	margin-left: 12px;
	font-size: 12px;
	color: #666666;
}

.immediately .wait .conrrent p {
	color: #ff9058;
}

.immediately .wait .conrrent input {
	height: 36px;
	float: left;
	width: calc(50% - 6px);
	font-size: 14px;
	border-radius: 5px;
}

.immediately .wait .conrrent input.cancle{
	border: 1px solid #6ADB7C;
	background: #FFFFFF;
	color: #6ADB7C;
}
.immediately .wait .conrrent input.confirmation{
	border: 1px solid #6ADB7C;
	background: #6ADB7C;
	margin-left: 8px;
	color: #FFFFFF;
}

.baomanbg {
	position: fixed;
	width: 100%;
	top: 0;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 9999;
	display: none;
}

.baomanbg .baomancon {
	position: fixed;
	top: 50%;
	margin-top: -70px;
	width: 80%;
	margin-left: 10%;
	height: 140px;
	border-radius: 4px;
	background: #FFFFFF;
}

.baomanbg .baomancon .baomantop {
	width: 80%;
	height: 72px;
	margin-top: 24px;
	font-size: 17px;
	text-align: center;
	margin-left: 10%;
}

.baomanbg .baomancon .baomandown {
	width: 100%;
	font-size: 16px;
	color: #ff8200;
	height: 44px;
	line-height: 44px;
	text-align: center;
	border-top: 1px solid #DDDDDD;
}


/*诱导下载*/
.download {
	width: 100%;
	height: 64px;
	bottom: 0;
	box-shadow: 0 0 10px 5px #F0EFF5;
	background: #FFFFFF;
	margin: 10px 0 1px 0;
}

.download .oneleft {
	height: 56px;
	margin: 8px 2% 0 3%;
	float: left;
}

.download .oneleft img {
	width: 48px;
}

.download .twocenter {
	width: 55%;
	height: 64px;
	float: left;
}

.download .twocenter .centertop {
	width: 100%;
	font-size: 17px;
	margin-top: 12px;
	color: #424242;
}

.download .twocenter .centerdown {
	width: 100%;
	font-size: 11px;
	color: #888888;
	margin-top: 5px;
}

.download .threeright {
	width: 25%;
	height: 64px;
	float: left;
}

.download .threeright .downloadapp {
	width: 90%;
	height: 30px;
	background: #FFFFFF;
	line-height: 30px;
	border: 1px solid #6ADB7C;
	text-align: center;
	outline: none;
	font-size: 14px;
	color: #6ADB7C;
	border-radius: 6px;
	margin-top: 19px;
}

.sexmodal{
	width: 100%;
	height: 100%;
	display: none;
}
.sexmodal .sexblack{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 9999;
}
.sexmodal .sexcontent{
	position: fixed;
	width: 70%;
	background: #FFFFFF;
	border-radius: 8px;
	height: 132px;
	top: 50%;
	left: 50%;
	margin-top: -68px;
	margin-left: -35%;
	z-index: 9999;
}
.sexmodal .sexcontent .showmessage{
	width: 90%;
	height: 64px;
	text-align: center;
	color: #424242;
	padding: 0 5% 0 5%;
	margin-top: 24px;
	font-size: 15px;
	border-bottom: 1px solid #EEEEEE;
}
.sexmodal .sexcontent .closemessge{
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #2CCB72 ;
	font-size: 16px;
}
