<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="cache-control" content="public">
    <meta name="format-detection" content="telephone=no">
    <title>设置账号</title>
    <link rel="stylesheet" href="../source/mui/css/mui.min.css">
    <link rel="stylesheet" href="../../common/source/css/mui_overwrite.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <!--<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/vue.min.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/author.js?r=1"></script><script src="../../common/source/js/authorCommon.js?r=15"></script><script src="../source/js/ajax_xs.js"></script>
    <script src="../source/js/ajax_xs_my.js"></script>
    <script src="../source/js/public.js"></script>
    <style>
        .disabledColor {
            color: #4D99F5;
        }
    </style>
    <script>
$(function () {
    mui.init();
    new Vue({
        el: "body",
        data: {
            phone_number: (isDebug) ? "18605887655" : "",
            verifyCode: "",
            restTime: 0
        },
        computed: {
            tipText: function () {
                return this.restTime <= 0 ? "获取验证码" : "重新获取（" + this.restTime + "）"
            },
            empty: function () {
                return !this.phone_number.length || !this.verifyCode.length
            }
        },
        methods: {
            getMessage: function () {
                var e = this;
                e.restTime <= 0 && $.when(sendMessageForBindPhone(e.phone_number)).done(function (t) {
                    if (200 == t.code) {
                        mui.toast("发送成功"),
                        e.restTime = 60;
                        var n = setInterval(function () {
                            e.restTime--,
                            e.restTime <= 0 && window.clearInterval(n)
                        },
                        1e3)
                    }
                })
            },
            savePhone: function () {
                var e = this;
                e.empty || $.when(bindPhoneByVerifyCode(e.phone_number, e.verifyCode)).done(function (e) {
                    200 == e.code && mui.back()
                })
            }
        }
    })
})</script>
</head>

<body>
    <div class="mui-content mui-fullscreen" style="background-color:#fff">
        <div class="innerCenter" v-cloak>
            <img style="width:80px;height:45px;margin-bottom:28px;margin-top:83px" src="../source/webslice/0_login/login_logo.png" alt="">
            <img style="width:210px;height:14px" src="../source/webslice/0_login/login_slogan.png" alt="">
            <form class="mui-input-group ys-input-group" style="margin:60px 40px 0">
                <div class="mui-input-row">
                    <input type="number" class="mui-input-clear" placeholder="请输入手机号" v-model="phone_number">
                </div>
                <div class="mui-input-row">
                    <input type="number" placeholder="请输入验证码" v-model="verifyCode">
                    <div class="mui-tip" class="{'linkColor':restTime<=0}" v-tap="getMessage">{{tipText}}</div>
                </div>
            </form>
            <div style="margin-top:60px">
                <div class="mui-btn mui-btn-primary mui-btn-long" style="border-radius:5px" class="{'disabledColor': empty}" v-tap="savePhone">绑定手机号</div>
            </div>
        </div>
    </div>
</body>

</html>