<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>找回密码</title>
    <link rel="stylesheet" href="../source/mui/css/mui.min.css">
    <link rel="stylesheet" href="../../common/source/css/mui_overwrite.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <!--<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/vue.min.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/author.js?r=1"></script><script src="../../common/source/js/authorCommon.js?r=15"></script>
    <script src="../source/js/ajax_xs.js"></script>
    <script src="../source/js/ajax_xs_my.js"></script>
    <script src="../source/js/public.js"></script>
    <script src="../source/js/common.js"></script>
    <script src="../source/js/jquery.base64.js"></script>
    <style>
        .mui-btn {
            color: #ccc;
            border-radius: 5px !important;
            width: 80%;
        }

        .abled {
            color: #ffffff;
            border-color: #F38524;
            background-color: #f38524;
        }

        .notice {
            font-size: 12px;
        }

        .userName {
            font-size: 12px;
            margin-bottom: 30px;
        }

        .fl {
            float: left;
        }

        .fr {
            float: right;
        }
    </style>
    <script>
        $(function () {
            mui.init();
            var username = "";
            var phone_number = getQueryStr('phone_number');
            if (getQueryStr('username1')) {
                username = getQueryStr('username1');
                $('.userName span').text(username);
            } else {
                $('.userName span').text(phone_number);
            }

            var getMessage = function () {
                var self = this;
                if (self.restTime <= 0) {
                    $.ajax({
                        url: baseUrlUser + "/user/vcode.aspx?phone_number=" + phone_number + "&type=3",//"/user/vcode/" + phone_number + "/3",
                        type: 'get',
                        success: function (data) {
                            if (data.code == 200) {
                                mui.toast("发送成功");
                                self.restTime = 60;
                                var _interval = setInterval(function () {
                                    self.restTime--;
                                    if (self.restTime <= 0) {
                                        window.clearInterval(_interval);
                                    }
                                }, 1000)
                            } else if (data.code == 999) {
                                mui.toast("发送失败,请检查手机号码");
                            }
                        }
                    })
                }
            }
            var finish = function () {
                var reg = /^(?![\d]+$)(?![a-zA-Z]+$)(?![!#$%^&]+$)[\da-zA-Z!#$%^&]{6,20}$/;
                if (!reg.test(this.password)) {
                    mui.toast('请输入正确的密码格式');
                    return;
                }
                var passwordBase64 = $.base64.btoa(this.password);
                var data = { "vcode": this.verifyCode, "password": passwordBase64, "phone_number": phone_number };
                postAjaxMUI(baseUrlUser + "/user/password.aspx", data, 'POST', function (json) {
                    //console.log(baseUrlJson + baseUrlHtml2 + 111);                 

                    if (json.code == 200) {
                        mui.toast("重置密码成功");
                        //console.log(baseUrlHtml);
                        //console.log(baseUrlJson + "/pages/indexPage.html"+111);
                        myhref.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=" + appId +
                        "&redirect_uri=" +
                        //baseUrlHtml + "/wechat/wxlogin.aspx?redirectUrl=" +
                        baseUrlJson + "/wechat/wxlogin.aspx?redirectUrl=" +
                        baseUrlHtml2 + "/pages/indexPage.html" +
                        "&response_type=code&scope=snsapi_userinfo&connect_redirect=1#wechatr_edirect";
                    } else if (json.code == 999) {
                        console.log(json);
                        mui.toast(json.message);
                        //$('#verifyCode').val("");
                        //$('#password').val("");
                    }
                }
                )
            };


            var vm = new Vue({
                el: "body",
                data: {
                    password: "",
                    verifyCode: "",
                    restTime: 0,
                    isTrue: false
                },
                computed: {
                    tipText: function () {
                        if (this.restTime <= 0) {
                            return "重新获取"
                        }
                        else {
                            return "重新获取（" + this.restTime + "）"
                        }
                    },
                    empty: function () {
                        if (this.phone_number.length && this.verifyCode.length) {
                            return false
                        }
                        else {
                            return true
                        }
                    },
                    isTrue: function () {
                        if (this.password.length >= 6 && this.password.length <= 20 && this.verifyCode.length == 4) {
                            return true
                        }
                        else {
                            return false
                        }
                    }
                },
                methods: {
                    getMessage: getMessage,
                    finish: finish
                },
                created: function () {
                    var self = this;
                    if (self.restTime <= 0) {
                        $.ajax({
                            url: baseUrlUser + "/user/vcode.aspx?phoneNumber=" + phone_number + "&type=3",
                            type: 'get',
                            success: function (data) {
                                if (data.code == 200) {
                                    mui.toast("发送成功");
                                    self.restTime = 60;
                                    var _interval = setInterval(function () {
                                        self.restTime--;
                                        if (self.restTime <= 0) {
                                            window.clearInterval(_interval);
                                        }
                                    }, 1000)
                                }
                            }
                        })
                    }
                }
            })
        });
    </script>
</head>
<body>
    <div class="mui-content mui-fullscreen" style="background-color: #fff;">
        <div class="innerCenter" v-cloak>
            <form class="mui-input-group ys-input-group" style="margin: 30px 40px 0;">
                <p class="userName">用户名/手机号: <span>13777777777</span></p>
                <div class="mui-input-row" style="margin-bottom:30px;">
                    <!--<label style="width:20%;padding-right:0px;padding-left:0px;height:30px;line-height:30px;">验证码</label>-->
                    <input id="verifyCode" style="width:80%;" type="number" placeholder="验证码" v-model="verifyCode">
                    <div class="mui-tip" class="{'linkColor':restTime<=0}" v-tap="getMessage">{{tipText}}</div>
                </div>
                <div class="mui-input-row" style="margin-bottom:20px;">
                    <!--<label style="width:20%;padding-right:0px;padding-left:0px;">密码</label>-->
                    <input id="password" style="width:80%;" type="password" class="mui-input-clear" placeholder="密码6-20位字符" v-model="password">
                </div>
                <p class="notice">注：请将密码设置为6-20位，并且由数字和符号两种以上组合</p>
            </form>
            <div style="margin-top: 30px;">
                <div disabled="disabled" v-if="!isTrue" class="mui-btn mui-btn-long">完成</div>
                <div :class="[{'abled' : isTrue}]" v-if="isTrue" class="mui-btn mui-btn-long" v-tap="finish">完成</div>
            </div>
        </div>
    </div>
</body>
</html>
