<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>找回密码</title>
    <link rel="stylesheet" href="../source/mui/css/mui.min.css">
    <link rel="stylesheet" href="../../common/source/css/mui_overwrite.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <!--<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/vue.min.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/author.js?r=1"></script><script src="../../common/source/js/authorCommon.js?r=15"></script><script src="../source/js/ajax_xs.js"></script>
    <script src="../source/js/ajax_xs_my.js"></script>
    <script src="../source/js/public.js"></script>
    <style>
        .mui-btn {
            color: #ff6a00;
            border-radius: 5px !important;
            width: 80%;
        }

        .abled {
            color: #fff;
            border-color: #ff6a00;
            background-color: #ff6a00;
        }

        .fl {
            float: left;
        }

        .fr {
            float: right;
        }

        .link-area {
            width: 80%;
            margin: 0 auto;
        }
    </style>
    <script>
        $(function () {
            mui.init();
            new Vue({
                el: "body",
                data: {
                    username: "",
                    isTrue: !1
                },
                computed: {
                    isTrue: function () {

                        return !(6 != this.username.length && 11 != this.username.length || !/^\d+$/.test(this.username));

                    }
                },
                methods: {
                    nextStep: function () {
                        var self = this,
                        data1 = {
                            oper_type: 201,
                            phone_number: self.username
                        },
                        username1 = this.username;
                        6 == this.username.length ? $.ajax({ // 三目运算符，？  username.lenght 等于6 
                            url: baseUrlUser + "/user/phone_number.aspx?username=" + this.username,
                            type: "get",
                            beforeSend: function (self) {
                                self.setRequestHeader("content-type", "application/json")
                            },
                            success: function (self) {
                                //三目运算?  code =200 转下个页面， 否则 弹出
                                200 == self.code ? myhref.href = "findPassword2.html?username1=" + username1 + "&phone_number=" + self.data.phone_number :
                                mui.toast("该用户没有手机号，请联系客服")
                            }
                        }) : 11 == this.username.length ? postAjaxMUI(baseUrlUser + "/user/check_exist_user.aspx", data1, 'POST', function (json) {
                            //操作json.data;
                            if (json)
                                return 999 == data1.code ? void mui.toast("该手机号尚未注册，请前往注册！") : void (myhref.href = "findPassword2.html?phone_number=" + self.username)
                        }) : mui.toast("用户名或手机号码有误");
                    }
                }
            })
        })
    </script>
</head>

<body>
    <div class="mui-content mui-fullscreen" style="background-color:#fff">
        <header id="header" class="mui-bar mui-bar-nav">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
            <h1 class="mui-title" id="title">找回密码</h1>
        </header>
        <div class="innerCenter" v-cloak>
            <form class="mui-input-group ys-input-group" style="margin:60px 40px 0">
                <div class="mui-input-row" style="margin-bottom:20px">
                    <label style="width:20%;padding-right:0;padding-left:0">账号</label>
                    <input style="width:80%" type="tel" class="mui-input-clear" placeholder="请输入用户名/手机号"  v-model="username">
                </div>
            </form>
            <div style="margin-top:30px">
                <button disabled="disabled" v-if="!isTrue" class="mui-btn mui-btn-long">下一步</button>
                <button :class="[{'abled' : isTrue}]" v-if="isTrue" class="mui-btn mui-btn-long abled" @click="nextStep">下一步</button>
            </div>
        </div>
    </div>
</body>

</html>